@import './utils/typografy';
@import './utils/reset';
@import './utils/vars';
@import './utils/mixins';

html, body {
    overflow-x: hidden;
    min-height: 100vh;
    line-height: 1.6;
}

a {
    text-decoration: none;

    &:active, &:hover, &:visited {
        outline: none;
    }
}

img {
    max-width: 100%;
}