.DS_Store
Thumbs.db
/.idea/
.idea/*
/bitrix/cache/*
/bitrix/backup/*
/bitrix/managed_cache/*
/bitrix/stack_cache/*
/bitrix/tmp/*
/upload/*
/vendor/*
/local/*
/ssh/flat_images/*
/bitrix/php_interface/dbconn.php
/bitrix/.settings.php
.htaccess
robots.txt
*.txt
*.xml
*.log
*.csv
composer.lock
composer.json
.htsecure
.vscode/*

/node_modules/